﻿
@{
    ViewBag.Title = "Sell";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Slider-->
<div class="inner-bnr">
    <div class="header">
        <div class="container">
            <div class="w3l_header_left">
                <ul>
                    <li><span class="fa fa-envelope" aria-hidden="true"></span> <a href="mailto:mail@mccvrealestate.com">mail@mccvrealestate.com</a></li>
                </ul>
            </div>
            <div class="w3l_header_right">
                <div class="w3ls-social-icons">
                    <a class="facebook" href="https://www.facebook.com/mccvrealestate" target="_blank"><span class="fa fa-facebook"></span></a>
                    <a class="twitter" href="https://www.instagram.com/mccvrealestate/" target="_blank"><span class="fa fa-instagram"></span></a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

    <!-- //header -->
    <div class="header-bottom">
        <div class="container">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <h1>
                            <a class="navbar-brand" href="index.html">
                                <img src="~/Content/images/MCCVLogoGold.png" width="70" height="70" />
                            </a>
                        </h1>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <nav class="cl-effect-1" id="cl-effect-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="@Url.Action("Index","Home")" data-hover="Home">Buy</a></li>
                            <li><a href="@Url.Action("Sell","Admin")" data-hover="">Sell</a></li>

                            <li><a href="@Url.Action("Live","Home")" data-hover="">Live in Portugal</a></li>
                            <li><a href="@Url.Action("About","Home")" data-hover="">About Us</a></li>

                            <li><a href="@Url.Action("Contact","Home")" data-hover="">Contact</a></li>
                            <li><a href="@Url.Action("Login","Auth")" data-hover=""><b>Login</b></a></li>
                        </ul>
                    </nav>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
    </div>
</div>
<!--//Slider-->
<div class="contact-agile contact-page">
    <div class="container">
        <h3 class="tittle">Want to Sell Propert?</h3>
        <p class="heading-btm-w3ls">Enter your contact information we will contat you.</p>
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success">
                <p><b>@ViewBag.Message</b></p>
            </div>
        }
        <div class="row">
            <div class="contact-middle">
                <h4>Write to Us</h4>
                <form action="@Url.Action("SellerContact","Home")" method="post">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-fields-agileinfo">
                            <p>Name</p>
                            <input type="text" name="name" placeholder=" " required="" />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-fields-agileinfo">
                            <p>Email</p>
                            <input type="email" name="email" placeholder=" " required="" />
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-fields-agileinfo">
                            <p>Phone</p>
                            <input type="text" name="phone" placeholder=" " required="" />
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-fields-agileinfo">
                            <p>Comments</p>
                            <textarea name="message" placeholder=" " required=""></textarea>
                        </div>
                    </div>
                        <input type="submit" value="Send Message" style="margin-left:15px;">
                </form>
            </div>
        </div>
    </div>
</div>


