﻿<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mccv Real Estate</title>
    <!-- Meta-tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Tract Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-tags -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" /><!-- //Bootstrap Css -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet"><!-- //Font-awesome Css -->
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" /><!-- //Required Css -->
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <!--//fonts-->
    <link rel="shortcut icon" href="~/Content/images/fevicon.png" />
    <link href="~/Content/Pagination/jquery.paginate.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>

<body>

    @RenderBody()
    <div class="bottom-social-w3ls">
        <h2 class="footer-logo">
            <a href="index.html">
                <img src="~/Content/images/MCCVLogoGold.png" width="200" height="200" />
            </a>
        </h2>
        <nav>
            <ul class="nav-w3ls">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">Buy</a></li>
                <li><a href="categories.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="w3ls-social-icons">
            <a class="facebook" href="#"><span class="fa fa-facebook"></span></a>
            <a class="twitter" href="#"><span class="fa fa-twitter"></span></a>
        </div>
    </div>
    <div class="copy">
        <p>© 2018 MCCV Real Estate . All Rights Reserved | Design by <a href="http://www.fiverr.com/abdullahwasim">UBS Solutions.</a> </p>
    </div>
    <!--/footer -->
    <!-- js -->
    <script type="text/javascript" src="~/Content/js/jquery-2.2.3.min.js"></script>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Content/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <script src="~/Content/js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 3
            $("#slider3").responsiveSlides({
                auto: true,
                pager: false,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- smooth scrolling -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
    </script>


    <a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- //smooth scrolling -->
    <script type="text/javascript" src="~/Content/js/bootstrap-3.1.1.min.js"></script>
    

</body>

</html>
