﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Dashboard
                    <small>statistics, charts and reports</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="index.html">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Dashboard</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-green-haze">
                            <i class="icon-home font-green-haze"></i>
                            <span class="caption-subject bold uppercase"> Add New Property</span>
                        </div>
                        <div class="actions">

                            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <form role="form" class="form-horizontal" action="@Url.Action("PostProperty","Property")" method="post" enctype="multipart/form-data">
                            <div class="form-body">
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="form_control_1"></label>
                                    <div class="col-md-10">
                                        @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-success">
                            @ViewBag.Message
                        </div>
}
                                        @if (ViewBag.Error != null)
                    {
                        <div class="alert alert-danger">
                            @ViewBag.Error
                        </div>
}
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="form_control_1">Purpose</label>
                                    <div class="col-md-10">
                                        <div class="md-radio-inline">
                                            <div class="md-radio">
                                                <input type="radio" id="radio53" name="Purpose" class="md-radiobtn" value="For Sale">
                                                <label for="radio53">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> For Sale
                                                </label>
                                            </div>
                                            <div class="md-radio has-error">
                                                <input type="radio" id="radio54" name="Purpose" class="md-radiobtn" value="For Rent" checked>
                                                <label for="radio54">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> For Rent
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="form_control_1">Property Type</label>
                                    <div class="col-md-10">
                                        <div class="md-radio-inline">
                                            <div class="md-radio">
                                                <input type="radio" id="radio57" name="PropertyType" class="md-radiobtn" value="Homes">
                                                <label for="radio57">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> Homes
                                                </label>
                                            </div>
                                            <div class="md-radio has-error">
                                                <input type="radio" id="radio58" name="PropertyType" class="md-radiobtn" value="Plots" checked>
                                                <label for="radio58">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> Plots
                                                </label>
                                            </div>
                                            <div class="md-radio has-warning">
                                                <input type="radio" id="radio59" name="PropertyType" class="md-radiobtn" value="Commercial">
                                                <label for="radio59">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> Commercial
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="form_control_1">Country</label>
                                    <div class="col-md-10">
                                        <input type="text" name="Country" class="form-control" id="form_control_1" placeholder="Enter your country" required>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="form_control_1">City</label>
                                    <div class="col-md-10">
                                        <input type="text" name="City" class="form-control" id="form_control_1" placeholder="Enter your city" required>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="form_control_1">State/Province</label>
                                    <div class="col-md-10">
                                        <input type="text" name="State" class="form-control" id="form_control_1" placeholder="Enter your province" required>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="form_control_1">Address</label>
                                    <div class="col-md-10">
                                        <input type="text" name="Address" class="form-control" id="form_control_1" placeholder="Enter your address" required>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="form_control_1">Property Title</label>
                                    <div class="col-md-10">
                                        <input type="text" name="Title" class="form-control" id="form_control_1" placeholder="Enter your propert title" required>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input has-success">
                                    <label class="col-md-2 control-label" for="form_control_1">Description</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control" name="Description" rows="3" placeholder="Enter description about property" required></textarea>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="form_control_1">All Inclusive Price</label>
                                    <div class="col-md-10">
                                        <input type="number" name="Price" class="form-control" id="form_control_1" placeholder="Enter property price(€)" required>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="form_control_1">Land Area</label>
                                    <div class="col-md-4">
                                        <input type="number" name="LandArea" class="form-control" id="form_control_1" placeholder="Enter property land area" required>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                    <label class="col-md-2 control-label" for="form_control_1">Unit</label>
                                    <div class="col-md-4">
                                        <select class="form-control" name="Unit" id="form_control_1">
                                            <option value="">Select Unit</option>
                                            <option value="Square Feet">Square Feet</option>
                                            <option value="Square Yards">Square Yards</option>
                                            <option value="Square Meters">Square Meters</option>
                                            <option value="Marla">Marla</option>
                                            <option value="Kanal">Kanal</option>
                                        </select>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    
                                    <label class="col-md-2 control-label" for="form_control_1">Energy Certificate</label>
                                    <div class="col-md-10">
                                        <select class="form-control" name="Certificate" id="form_control_1">
                                            <option value="">Select energy certificate</option>
                                            <option value="A+">A+</option>
                                            <option value="A+">A</option>
                                            <option value="B">B</option>
                                            <option value="-B">-B</option>
                                            <option value="C">C</option>
                                            <option value="D">D</option>
                                            <option value="E">E</option>
                                            <option value="F">F</option>
                                            <option value="G">G</option>
                                            <option value="Exempt">Exempt</option>
                                            <option value="In Progress">In Progress</option>
                                        </select>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-2 col-md-10">
                                            <button type="submit" class="btn blue">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

