﻿
@{
    ViewBag.Title = "PropertyImage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model MccvRealEstate.Models.Property
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Dashboard
                    <small>statistics, charts and reports</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="index.html">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Dashboard</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-green-haze">
                            <i class="icon-home font-green-haze"></i>
                            <span class="caption-subject bold uppercase"> Add Property Images</span>
                        </div>
                        <div class="actions">

                            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <h1>Add Property Images</h1>
                        <form action="@Url.Action("PostPropertyImage","Property")" class="dropzone dropzone-file-area" id="my-dropzone" method="post" enctype="multipart/form-data">
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1"></label>
                                <div class="col-md-10">
                                    @if (ViewBag.Message != null)
                                    {
                                        <div class="alert alert-success">
                                            @ViewBag.Message
                                        </div>
                                    }
                                    @if (ViewBag.Error != null)
                                    {
                                        <div class="alert alert-danger">
                                            @ViewBag.Error
                                        </div>
                                    }
                                </div>
                            </div>
                            <h3 class="sbold">Drop images here or click to upload</h3>
                            @*<p> This is just a demo dropzone. Selected files are not actually uploaded. </p>*@
                            <input type="hidden" name="PropertyId" value="@Model.Id" />
                        </form>
                        <br />
                        @*<p class="text-warning"><b>On clicking "Finish" button you can not add more images. Click when done.</b></p>
                            <a href="@Url.Action("Index","Admin")" class="btn btn-success">Finish</a>*@
                        <h1>Add Property Documents</h1>

                        <form role="form" class="form-horizontal" action="@Url.Action("PostPropertyDoc","Property")" method="post" enctype="multipart/form-data">
                            <div class="form-body" id="docForm">

                                <div class="form-group form-md-line-input" id="input1">
                                    <label class="col-md-2 control-label" for="form_control_1">Document Name:</label>
                                    <div class="col-md-10">
                                        <input type="text" name="Name0" class="form-control" id="form_control_1" placeholder="Enter document name" required>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input" id="input2">
                                    <label class="col-md-2 control-label" for="form_control_1">Upload Document:</label>
                                    <div class="col-md-10">
                                        <input type="file" name="DocName0" class="form-control" id="form_control_1" accept=".pdf , .docx , .txt" required>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                <input type="hidden" name="PropertyId" value="@Model.Id" />


                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button type="submit" class="btn btn-warning" id="addDoc"><i class="glyphicon glyphicon-plus"></i> Add more documents</button>
                                        <button type="submit" class="btn blue">Finish</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $(".red").hide();
        var count= 1;
        $('#addDoc').on("click", function () {
            
            $('#docForm').append('<div class="form-group form-md-line-input" id="input1"><label class="col-md-2 control-label" for="form_control_1">Document Name:</label ><div class="col-md-10"> <input type="text" name="Name' + count + '" class="form-control" id="form_control_1" placeholder="Enter document name" required> <div class="form-control-focus"> </div></div> </div><div class="form-group form-md-line-input" id="input2"> <label class="col-md-2 control-label" for="form_control_1">Upload Document:</label> <div class="col-md-10"><input type="file" name="DocName' + count + '" accept=".pdf , .docx , .txt" class="form-control" id="form_control_1" placeholder="Enter your city" required><div class="form-control-focus"> </div></div> </div>');
            count++;
        })
    })
</script>

