﻿
@{
    ViewBag.Title = "PropertyDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model MccvRealEstate.Models.Property
@using MccvRealEstate.HelpingClasses
@using MccvRealEstate.Models
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<!-- you need to include the shieldui css and js assets in order for the charts to work -->
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-glow/all.min.css" />
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

<script type="text/javascript">
    jQuery(function ($) {
        $(".tabs_div").shieldTabs();
    });
</script>

<style>
    .pb-product-details-ul {
        list-style-type: none;
        padding-left: 0;
        color: black;
    }

        .pb-product-details-ul > li {
            padding-bottom: 5px;
            font-size: 15px;
        }

    #gradient {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+31,a0d8ef+62 */
        background: #feffff; /* Old browsers */
        background: -moz-linear-gradient(left, #feffff 0%, #ddf1f9 31%, #a0d8ef 62%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #feffff 0%,#ddf1f9 31%,#a0d8ef 62%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #feffff 0%,#ddf1f9 31%,#a0d8ef 62%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=1 ); /* IE6-9 */
        border: 1px solid #f2f2f2;
        padding: 20px;
    }

    #hits {
        border-right: 1px solid white;
        border-left: 1px solid white;
        vertical-align: middle;
        padding-top: 15px;
        font-size: 17px;
        color: white;
    }

    #fan {
        vertical-align: middle;
        padding-top: 15px;
        font-size: 17px;
        color: white;
    }

    .pb-product-details-fa > span {
        padding-top: 20px;
    }

    .carousel-control.right {
        background-image: none !important;
    }

    .carousel-control.left {
        background-image: none !important;
    }

    #carousel-example-generic {
        height: 600px;
        overflow-y: hidden;
        text-align: center;
    }
</style>
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Mccv Real Estate
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Show Sellers Summary</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->

                <center>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        @{
                            Property_Images obj = new Property_Images();
                            List<PropertyImage> list = obj.ImagesList(Model.Id);
                        }
                        @if (list != null)
                        {
                            var i = 0;
                            foreach (var item in list)
                            {

                                if (i == 0)
                                {
                                    <div class="item active">
                                        <img src="http://mccvrealestate.apphb.com/@item.Image" alt="...">
                                    </div>
                                    i++;
                                }

                                <div class="item">
                                    <img src="http://mccvrealestate.apphb.com/@item.Image" alt="...">
                                </div>
                            }
                        }
                        else
                        {
                            <h1 class="text-warning text-center">No image exist.</h1>
                        }
                    </div>
                </center>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="col-md-12">
                <div class="row" id="gradient">
                    @*<div class="col-md-4">
                            <img src="http://www.prepbootstrap.com/Content/images/shared/misc/s7e.png" class="img-responsive">
                        </div>*@
                    <div class="col-md-12" id="overview">
                        @*<div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <ul class="pb-product-details-ul">
                                        <li><span class="fa fa-calendar">&nbsp;Released 2016, March</span></li>
                                        <li><span class="fa fa-phone">&nbsp;157g, 7.7mm thickness</span></li>
                                        <li><span class="fa fa-bluetooth-b">&nbsp;Android OS, v6.0, up to 7.0</span></li>
                                        <li><span class="fa fa-microchip">&nbsp;32/64/128GB Storage</span></li>
                                    </ul>
                                </div>
                                <div class="col-xs-3 col-md-3 text-center" id="hits">
                                    <span class="fa fa-bar-chart">&nbsp;24%</span>
                                    <p>22,010,155 HITS</p>
                                </div>
                                <div class="col-xs-3 col-md-3 text-center" id="fan">
                                    <a href="#" class="btn btn-primary">Contact</a>
                                </div>
                            </div>*@
                        <div class="row">
                            <div class="col-xs-3 col-md-3 pb-product-details-fa">
                                <span class="fa fa-money fa-lg"></span>
                                <h3><strong>Price</strong></h3>
                                <h2><b>€@Model.Price</b></h2>
                            </div>
                            <div class="col-xs-3 col-md-3 pb-product-details-fa">
                                <span class="fa fa-flag fa-lg"></span>
                                <h3><strong>Country</strong></h3>
                                <p>@Model.Country</p>
                            </div>
                            <div class="col-xs-3 col-md-3 pb-product-details-fa">
                                <span class="fa fa-tag fa-lg"></span>
                                <h3><strong>Property Type</strong></h3>
                                <p>@Model.PropertyType</p>
                            </div>
                            <div class="col-xs-3 col-md-3 pb-product-details-fa">
                                <span class="fa fa-area-chart fa-lg"></span>
                                <h3><strong>Area</strong></h3>
                                <p>@Model.LandArea @Model.Unit</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="tabs_div">
                        <ul>
                            <li>Specifications</li>
                            @*<li>Contact Info</li>*@
                            <li>Description</li>
                            <li>Documents</li>
                            @*<li>Phone features</li>*@
                        </ul>
                        <div>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="success">Title: </td>
                                        <td>@Model.Title</td>
                                    </tr>
                                    <tr>
                                        <td class="success">Country: </td>
                                        <td>@Model.Country</td>
                                    </tr>
                                    <tr>
                                        <td class="success">City: </td>
                                        <td>@Model.City</td>
                                    </tr>
                                    <tr>
                                        <td class="success">Address: </td>
                                        <td>@Model.Address</td>
                                    </tr>
                                    <tr>
                                        <td class="success">Added Date: </td>
                                        <td>@Model.Date</td>
                                    </tr>
                                    <tr>
                                        <td class="success">Property Purpose: </td>
                                        <td>@Model.Purpose</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                       
                        <div>
                            <p>
                                @Model.Description
                            </p>
                        </div>
                        @{
                            List<Document> docs = obj.DocList(Model.Id);
                        }
                        <div>
                            <table class="table">
                                <tbody>
                                    @if (docs != null)
                                    {
                                        foreach (var item in docs)
                                        {


                                            <tr>
                                                <td class="success">@item.Name: </td>
                                                <td>http://mccvrealestate.apphb.com/@item.DocName</td>
                                                @if (Session["Admin"] != null)
                                                {
                                                    /**/
                                                    <td><a href="@Url.Action("DeleteDoc", "Property", new { Id = item.Id, pId = Model.Id })" class="btn btn-danger">Delete</a></td>
                                                }
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


