﻿@model MccvRealEstate.Models.Property
@{
    ViewBag.Title = "PropertDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using MccvRealEstate.HelpingClasses
@using MccvRealEstate.Models
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<!-- you need to include the shieldui css and js assets in order for the charts to work -->
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-glow/all.min.css" />
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

<script type="text/javascript">
    jQuery(function ($) {
        $(".tabs_div").shieldTabs();
    });
</script>

<style>
    .pb-product-details-ul {
        list-style-type: none;
        padding-left: 0;
        color: black;
    }

        .pb-product-details-ul > li {
            padding-bottom: 5px;
            font-size: 15px;
        }

    #gradient {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+31,a0d8ef+62 */
        background: #feffff; /* Old browsers */
        background: -moz-linear-gradient(left, #feffff 0%, #ddf1f9 31%, #a0d8ef 62%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #feffff 0%,#ddf1f9 31%,#a0d8ef 62%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #feffff 0%,#ddf1f9 31%,#a0d8ef 62%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=1 ); /* IE6-9 */
        border: 1px solid #f2f2f2;
        padding: 20px;
    }

    #hits {
        border-right: 1px solid white;
        border-left: 1px solid white;
        vertical-align: middle;
        padding-top: 15px;
        font-size: 17px;
        color: white;
    }

    #fan {
        vertical-align: middle;
        padding-top: 15px;
        font-size: 17px;
        color: white;
    }

    .pb-product-details-fa > span {
        padding-top: 20px;
    }

    .carousel-control.right {
        background-image: none !important;
    }

    .carousel-control.left {
        background-image: none !important;
    }

    #carousel-example-generic {
        height: 600px;
        overflow-y: hidden;
        text-align: center;
    }
</style>
<!--Slider-->
<div class="inner-bnr">
    <!-- header -->
    <div class="header">
        <div class="container">
            <div class="w3l_header_left">
                <ul>
                    <li><span class="fa fa-envelope" aria-hidden="true"></span> <a href="mailto:mail@mccvrealestate.com">mail@mccvrealestate.com</a></li>
                </ul>
            </div>
            <div class="w3l_header_right">
                <div class="w3ls-social-icons">
                    <a class="facebook" href="https://www.facebook.com/mccvrealestate" target="_blank"><span class="fa fa-facebook"></span></a>
                    <a class="twitter" href="https://www.instagram.com/mccvrealestate/" target="_blank"><span class="fa fa-instagram"></span></a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

    <!-- //header -->
    <div class="header-bottom">
        <div class="container">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <h1>
                            <a class="navbar-brand" href="index.html">
                                <img src="~/Content/images/MCCVLogoGold.png" width="70" height="70" />
                            </a>
                        </h1>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <nav class="cl-effect-1" id="cl-effect-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="@Url.Action("Index","Home")" data-hover="Home">Buy</a></li>
                            <li><a href="@Url.Action("Sell","Admin")" data-hover="">Sell</a></li>

                            <li><a href="@Url.Action("Live","Home")" data-hover="">Live in Portugal</a></li>
                            <li><a href="@Url.Action("About","Home")" data-hover="">About Us</a></li>

                            <li><a href="@Url.Action("Contact","Home")" data-hover="">Contact Us</a></li>
                            <li><a href="@Url.Action("Login","Auth")" data-hover=""><b>Login</b></a></li>

                        </ul>
                    </nav>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
    </div>
</div>
<!--//Slider-->
<div class="about">
    <div class="container">
        <div class="row">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                
                <center>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        @{
                            Property_Images obj = new Property_Images();
                            List<PropertyImage> list = obj.ImagesList(Model.Id);
                        }
                        @if (list != null)
                        {
                            var i = 0;
                            foreach (var item in list)
                            {

                                if (i == 0)
                                {
                                    <div class="item active">
                                        <img src="http://mccvrealestate.apphb.com/@item.Image" alt="...">
                                    </div>
                                    i++;
                                }

                                <div class="item">
                                    <img src="http://mccvrealestate.apphb.com/@item.Image" alt="...">
                                </div>
                            }
                        }
                        else
                        {
                            <h1 class="text-warning text-center">No image exist.</h1>
                        }
                    </div>
                </center>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="col-md-12">
                <div class="row" id="gradient">
                    @*<div class="col-md-4">
                            <img src="http://www.prepbootstrap.com/Content/images/shared/misc/s7e.png" class="img-responsive">
                        </div>*@
                    <div class="col-md-12" id="overview">
                        @*<div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <ul class="pb-product-details-ul">
                                        <li><span class="fa fa-calendar">&nbsp;Released 2016, March</span></li>
                                        <li><span class="fa fa-phone">&nbsp;157g, 7.7mm thickness</span></li>
                                        <li><span class="fa fa-bluetooth-b">&nbsp;Android OS, v6.0, up to 7.0</span></li>
                                        <li><span class="fa fa-microchip">&nbsp;32/64/128GB Storage</span></li>
                                    </ul>
                                </div>
                                <div class="col-xs-3 col-md-3 text-center" id="hits">
                                    <span class="fa fa-bar-chart">&nbsp;24%</span>
                                    <p>22,010,155 HITS</p>
                                </div>
                                <div class="col-xs-3 col-md-3 text-center" id="fan">
                                    <a href="#" class="btn btn-primary">Contact</a>
                                </div>
                            </div>*@
                        <div class="row">
                            <div class="col-xs-3 col-md-3 pb-product-details-fa">
                                <span class="fa fa-flag fa-lg"></span>
                                <h3><strong>Country</strong></h3>
                                <p>@Model.Country</p>
                            </div>
                            <div class="col-xs-3 col-md-3 pb-product-details-fa">
                                <span class="fa fa-tag fa-lg"></span>
                                <h3><strong>Property Type</strong></h3>
                                <p>@Model.PropertyType</p>
                            </div>
                            <div class="col-xs-3 col-md-3 pb-product-details-fa">
                                <span class="fa fa-area-chart fa-lg"></span>
                                <h3><strong>Area</strong></h3>
                                <p>@Model.LandArea @Model.Unit</p>
                            </div>
                            <div class="col-xs-3 col-md-3 pb-product-details-fa">
                                <span class="fa fa-money fa-lg"></span>
                                <h3><strong>Price</strong></h3>
                                <h2>€@Model.Price</h2>
                            </div>
                        </div>
                        <div class="row">
                            <a href="@Url.Action("PropertyContact","Property",new { Id=Model.Id})" class="btn btn-warning btn-lg">Contact</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="tabs_div">
                        <ul>
                            <li>Specifications</li>
                            @*<li>Contact Info</li>*@
                            <li>Description</li>
                            @*<li>Battery</li>
                                <li>Phone features</li>*@
                        </ul>
                        <div>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="success">Title: </td>
                                        <td>@Model.Title</td>
                                    </tr>
                                    <tr>
                                        <td class="success">Country: </td>
                                        <td>@Model.Country</td>
                                    </tr>
                                    <tr>
                                        <td class="success">City: </td>
                                        <td>@Model.City</td>
                                    </tr>
                                    <tr>
                                        <td class="success">Address: </td>
                                        <td>@Model.Address</td>
                                    </tr>
                                    <tr>
                                        <td class="success">Added Date: </td>
                                        <td>@Model.Date</td>
                                    </tr>
                                    <tr>
                                        <td class="success">Property Purpose: </td>
                                        <td>@Model.Purpose</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        @*<div>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="success">Email: </td>
                                            <td>email@mccvrealestate.com</td>
                                        </tr>
                                        <tr>
                                            <td class="success">Phone: </td>
                                            <td>+ 92 300 7476633</td>
                                        </tr>
                                        <tr>
                                            <td class="success">Address: </td>
                                            <td>F1.7</td>
                                        </tr>
                                        <tr>
                                            <td class="success">City: </td>
                                            <td>1/2.5"</td>
                                        </tr>
                                        <tr>
                                            <td class="success">Pixel size: </td>
                                            <td>1.4 um</td>
                                        </tr>
                                        <tr>
                                            <td class="success">Hardware Features: </td>
                                            <td>Optical image stabilization, Autofocus (Phase detection)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>*@
                        <div>
                            @*<table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="success">System chip: </td>
                                            <td>Qualcomm Snapdragon 820 MSM8996</td>
                                        </tr>
                                        <tr>
                                            <td class="success">Processor: </td>
                                            <td>Quad-core, 2200 MHz, Kryo, 64-bit</td>
                                        </tr>
                                        <tr>
                                            <td class="success">GPU: </td>
                                            <td>Adreno 530</td>
                                        </tr>
                                        <tr>
                                            <td class="success">System memory: </td>
                                            <td>4GB memory</td>
                                        </tr>
                                        <tr>
                                            <td class="success">Built-in storage: </td>
                                            <td>32GB</td>
                                        </tr>
                                        <tr>
                                            <td class="success">Storage Expansion: </td>
                                            <td>microSD, microSDHC, microSDXC up to 200 GB</td>
                                        </tr>
                                    </tbody>
                                </table>*@
                            <p>
                                @Model.Description
                            </p>
                        </div>
                        @*<div>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="success">Capacity: </td>
                                            <td>3600mah</td>
                                        </tr>
                                        <tr>
                                            <td class="success">Type: </td>
                                            <td>Not user replaceable, Li - Ion</td>
                                        </tr>
                                        <tr>
                                            <td class="success">Wireless charging: </td>
                                            <td>Optional</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="success">Sensors: </td>
                                            <td>Accelerometer, Gyroscope, Compass, Hall, Barometer</td>
                                        </tr>
                                        <tr>
                                            <td class="success">Notifications: </td>
                                            <td>Haptic feedback, Music ringtones (MP3), Polyphonic ringtones, Vibration, Flight mode, Silent mode, Speakerphone</td>
                                        </tr>
                                        <tr>
                                            <td class="success">Other: </td>
                                            <td>Voice dialing, Voice commands, Voice recording, TTY/TDD</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

