﻿
@{
    ViewBag.Title = "PropertyContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MccvRealEstate.Models.Property
<!--Slider-->
<style>
    .labelTitle {
        color: #FFA500;
    }
</style>
<!--Slider-->
<div class="inner-bnr">
    <div class="header">
        <div class="container">
            <div class="w3l_header_left">
                <ul>
                    <li><span class="fa fa-envelope" aria-hidden="true"></span> <a href="mailto:mail@mccvrealestate.com">mail@mccvrealestate.com</a></li>
                </ul>
            </div>
            <div class="w3l_header_right">
                <div class="w3ls-social-icons">
                    <a class="facebook" href="https://www.facebook.com/mccvrealestate" target="_blank"><span class="fa fa-facebook"></span></a>
                    <a class="twitter" href="https://www.instagram.com/mccvrealestate/" target="_blank"><span class="fa fa-instagram"></span></a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

    <!-- //header -->
    <div class="header-bottom">
        <div class="container">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <h1>
                            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                                <img src="~/Content/images/MCCVLogoGold.png" width="70" height="70" />
                            </a>
                        </h1>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <nav class="cl-effect-1" id="cl-effect-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="@Url.Action("Index","Home")" data-hover="Home">Buy</a></li>
                            <li><a href="@Url.Action("Sell","Home")" data-hover="">Sell</a></li>

                            <li><a href="@Url.Action("Live","Home")" data-hover="">Live in Portugal</a></li>
                            <li><a href="@Url.Action("About","Home")" data-hover="">About Us</a></li>

                            <li><a href="@Url.Action("Contact","Home")" data-hover="">Contact</a></li>
                            <li><a href="@Url.Action("Login","Auth")" data-hover=""><b>Login</b></a></li>
                        </ul>
                    </nav>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
    </div>
</div>
<!--//Slider-->
<!-- about -->
@*<div class="about">
    <div class="container">
        <h3 class="tittle">Property Details</h3>
        <br />
        <div class="row">
            <div class="col-md-3 labelTitle">
                <p><b>Title:</b></p>
            </div>
            <div class="col-md-3">
                <p><b>@Model.Title</b></p>
            </div>
            <div class="col-md-3 labelTitle">
                <p><b>Country:</b></p>
            </div>
            <div class="col-md-3">
                <p><b>@Model.Country, @Model.City</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 labelTitle">
                <p><b>Address:</b></p>
            </div>
            <div class="col-md-3">
                <p><b>@Model.Address</b></p>
            </div>
            <div class="col-md-3 labelTitle">
                <p><b>Procession Date:</b></p>
            </div>
            <div class="col-md-3">
                <p><b>@Model.Date</b></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 labelTitle">
                <p><b>Property Type:</b></p>
            </div>
            <div class="col-md-3">
                <p><b>@Model.PropertyType</b></p>
            </div>
            <div class="col-md-3 labelTitle">
                <p><b>Purpose:</b></p>
            </div>
            <div class="col-md-3">
                <p><b>@Model.Purpose</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 labelTitle">
                <p><b>Land Area:</b></p>
            </div>
            <div class="col-md-3">
                <p><b>@Model.LandArea @Model.Unit</b></p>
            </div>
            <div class="col-md-3 labelTitle">
                <p><b>Price:</b></p>
            </div>
            <div class="col-md-3">
                <p><b>@Model.Price</b></p>
            </div>
        </div>
        <div class="row">
            <h3 class="tittle">Contact to buy this property</h3>

        </div>
        <div class="row">

        </div>
    </div>
</div>*@
<div class="contact-agile contact-page">
    <div class="container">
        <h3 class="tittle">Contact To Buy</h3>
        <p class="heading-btm-w3ls">Contact us if you want to buy this property.</p>
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success">
                <p><b>@ViewBag.Message</b></p>
            </div>
        }
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">
                <p><b>@ViewBag.Error</b></p>
            </div>
        }
        <div class="contact-eql">
            <div class="contact-left">
                <h4>About Property</h4>
                <p class="para-w3-agileits"><span class="fa fa-home" aria-hidden="true"> </span><b>@Model.Title</b> , @Model.Country, @Model.City </p>
                <p class="para-w3-agileits"><span class="fa fa-location-arrow" aria-hidden="true"> </span> @Model.Address </p>
                <div class="add-info">
                    <span class="fa fa-money" aria-hidden="true"></span>
                    <p>$@Model.Price</p>
                </div>
                <div class="add-info">
                    <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                    <p>@Model.PropertyType</p>
                </div>
                <div class="add-info">
                    <span class="fa fa-tag" aria-hidden="true"></span>
                    <p>@Model.Purpose</p>
                </div>
                @*<div class="add-info">
            <span class="fa fa-stack" aria-hidden="true"></span>
            <p>@Model.PropertyType</p>
        </div>
        <div class="add-info">
            <span class="fa fa-tag" aria-hidden="true"></span>
            <p>@Model.Purpose</p>
        </div>*@
                <div class="add-info">
                    <p><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <b> Description:</b></p>
                    <p>@Model.Description</p>
                </div>
            </div>
            <div class="contact-middle">
                <h4>Contact to real estate</h4>
                <form action="@Url.Action("PostPropertyContact","Property")" method="post">
                    <div class="form-fields-agileinfo">
                        <p>Name</p>
                        <input type="text" name="Name" placeholder=" " required="" />
                        <input type="hidden" name="propId"  value="@Model.Id"/>

                        <input type="hidden" name="sellerId" value="@Model.SellerId" />

                    </div>
                    <div class="form-fields-agileinfo">
                        <p>Email</p>
                        <input type="email" name="Email" placeholder=" " required="" />
                    </div>
                    <div class="form-fields-agileinfo">
                        <p>Phone</p>
                        <input type="text" name="Phone" placeholder=" " required="" />
                    </div>
                    <div class="form-fields-agileinfo">
                        <p>Comments</p>
                        <textarea name="Subject" required="" placeholder="Write message"></textarea>
                    </div>
                    <input type="submit" value="Send Message">
                </form>
            </div>
        </div>
    </div>
</div>


