﻿
@{
    ViewBag.Title = "ShowProperty";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<MccvRealEstate.Models.Property>
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Mccv Real Estate
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Recent added properties</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class=" font-dark"></i>
                            <span class="caption-subject bold uppercase">Properties of @Session["Admin"]</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover" id="sample_1">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Price</th>
                                    <th>Land Area</th>
                                    <th>Property Type</th>
                                    <th>Seller Name</th>
                                    <th>Seller Email</th>
                                    <th>Details</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                <tr>
                                    <td>@item.Title</td>
                                    <td>@item.Price</td>
                                    <td>@item.LandArea @item.Unit</td>
                                    <td> @item.PropertyType</td>
                                    <td> @item.Seller.Name</td>
                                    <td> @item.Seller.Email</td>
                                    <td> <a href="@Url.Action("PropertyDetails","Property",new { Id=item.Id})" class="btn btn-info">Check Details</a></td>
                                    <td>
                                        @*<a href="#"><i class="fa fa-pencil"></i></a> |*@
                                        <a href="@Url.Action("DeleteProperty","Property",new { Id=item.Id})" class="btn btn-danger">Delete</a>

                                    </td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>

