﻿
@{
    ViewBag.Title = "SellerProfile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<MccvRealEstate.Models.Property>
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Mccv Real Estate
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Show Sellers Profile and Property List</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="profile">
                <div class="tabbable-line tabbable-full-width">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab_1_1" data-toggle="tab"> Profile Overview </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1_1">
                            <div class="row">
                                <div class="col-md-3">
                                    <ul class="list-unstyled profile-nav">
                                        <li>
                                            <img src="../assets/pages/media/profile/people19.png" class="img-responsive pic-bordered" alt="" />
                                            <a href="javascript:;" class="profile-edit"> edit </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;"> Projects </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                Messages
                                                <span> 3 </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;"> Friends </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;"> Settings </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-8 profile-info">
                                            <h1 class="font-green sbold uppercase">@ViewBag.Seller.Name</h1>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam tincidunt erat volutpat laoreet dolore magna aliquam tincidunt erat volutpat.
                                            </p>
                                            <p>
                                                <i class="fa fa-phone"> @ViewBag.Seller.Phone </i>
                                            </p>
                                            <ul class="list-inline">
                                                <li>
                                                    <i class="fa fa-envelope"></i> @ViewBag.Seller.Email
                                                </li>
                                                <li>
                                                    <i class="fa fa-calendar"></i> @ViewBag.Seller.Date
                                                </li>
                                            </ul>
                                        </div>
                                        <!--end col-md-8-->
                                        <div class="col-md-4">
                                            <div class="portlet sale-summary">
                                                <div class="portlet-title">
                                                    <div class="caption font-red sbold"> Sales Summary </div>
                                                    <div class="tools">
                                                        <a class="reload" href="javascript:;"> </a>
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <ul class="list-unstyled">
                                                        <li>
                                                            <span class="sale-info">
                                                                TODAY SOLD
                                                                <i class="fa fa-img-up"></i>
                                                            </span>
                                                            <span class="sale-num"> 23 </span>
                                                        </li>
                                                        <li>
                                                            <span class="sale-info">
                                                                WEEKLY SALES
                                                                <i class="fa fa-img-down"></i>
                                                            </span>
                                                            <span class="sale-num"> 87 </span>
                                                        </li>
                                                        <li>
                                                            <span class="sale-info"> TOTAL SOLD </span>
                                                            <span class="sale-num"> 2377 </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end col-md-4-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--tab_1_2-->
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class=" font-dark"></i>
                        <span class="caption-subject bold uppercase">Properties of @ViewBag.Seller.Name</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="sample_1">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Price</th>
                                <th>Land Area</th>
                                <th>Property Type</th>
                                <th>Seller Name</th>
                                <th>Seller Email</th>
                                <th>Details</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>@item.Title</td>
                                    <td>@item.Price</td>
                                    <td>@item.LandArea @item.Unit</td>
                                    <td> @item.PropertyType</td>
                                    <td> @item.Seller.Name</td>
                                    <td> @item.Seller.Email</td>
                                    <td> <a href="@Url.Action("PropertyDetails","Property",new { Id=item.Id})" class="btn btn-info">Check Details</a></td>
                                    <td>
                                        @*<a href="#"><i class="fa fa-pencil"></i></a> |*@
                                        <a href="@Url.Action("DeleteProperty","Property",new { Id=item.Id})" class="btn btn-danger">Delete</a>

                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>

</div>

