﻿
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Slider-->
<div class="inner-bnr">
    <!-- header -->
    <div class="header">
        <div class="container">
            <div class="w3l_header_left">
                <ul>
                    <li><span class="fa fa-envelope" aria-hidden="true"></span> <a href="mailto:mail@mccvrealestate.com">mail@mccvrealestate.com</a></li>
                </ul>
            </div>
            <div class="w3l_header_right">
                <div class="w3ls-social-icons">
                    <a class="facebook" href="https://www.facebook.com/mccvrealestate" target="_blank"><span class="fa fa-facebook"></span></a>
                    <a class="twitter" href="https://www.instagram.com/mccvrealestate/" target="_blank"><span class="fa fa-instagram"></span></a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

    <!-- //header -->
    <div class="header-bottom">
        <div class="container">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <h1>
                            <a class="navbar-brand" href="index.html">
                                <img src="~/Content/images/MCCVLogoGold.png" width="70" height="70" />
                            </a>
                        </h1>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <nav class="cl-effect-1" id="cl-effect-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="@Url.Action("Index","Home")" data-hover="Home">Buy</a></li>
                            <li><a href="@Url.Action("Sell","Home")" data-hover="">Sell</a></li>

                            <li><a href="@Url.Action("Live","Home")" data-hover="">Live in Portugal</a></li>
                            <li><a href="@Url.Action("About","Home")" data-hover="">About Us</a></li>

                            <li><a href="@Url.Action("Contact","Home")" data-hover="">Contact</a></li>
                            <li><a href="@Url.Action("Login","Auth")" data-hover=""><b>Login</b></a></li>
                        </ul>
                    </nav>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
    </div>
</div>
<!--//Slider-->
<!--//Header-->
<!-- about -->
<div class="about">
    <div class="container">
        <h3 class="tittle">About Us</h3>
        <p class="heading-btm-w3ls">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div class="about-main">
            <div class="about-left-w3-agile">
                <span class="fa fa-home" aria-hidden="true"></span>
                <h4 class="sub-hdng">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                <div class="clearfix"></div>
                <p class="para-w3-agileits">
                    Aliquam sit amet condimentum eros. Pellentesque placerat justo at maximus pretium. Ut dignissim auctor neque, at congue
                    neque vulputate vel.
                </p>
                <p class="para-w3-agileits">
                    Vestibulum convallis odio sagittis fermentum accumsan. Maecenas sagittis tortor ut nisl maximus, eu dictum dolor blanditEtiam
                    nec risus eleifend, faucibus risus ac, viverra magna.
                </p>
            </div>
            <div class="about-right-agileinfo">
                <div class="about-top">
                    <div class="about-inner a1">
                        <span class="fa fa-compass" aria-hidden="true"></span>
                        <h6>Our Company</h6>
                        <div class="clearfix"></div>
                        <p class="para-w3-agileits">Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros.</p>
                    </div>
                    <div class="about-inner a2">
                        <span class="fa fa-building" aria-hidden="true"></span>
                        <h6>Our Vision</h6>
                        <div class="clearfix"></div>
                        <p class="para-w3-agileits">Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros.</p>
                    </div>
                </div>
                <div class="about-bottom">
                    <div class="about-inner a3">
                        <span class="fa fa-home" aria-hidden="true"></span>
                        <h6>Our Company</h6>
                        <div class="clearfix"></div>
                        <p class="para-w3-agileits">Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros.</p>
                    </div>
                    <div class="about-inner a4">
                        <span class="fa fa-building-o" aria-hidden="true"></span>
                        <h6>Our Vision</h6>
                        <div class="clearfix"></div>
                        <p class="para-w3-agileits">Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //about-bottom -->
<!-- advantages -->
<div class="advantages">
    <div class="container">
        <h3 class="tittle">Our Advantages</h3>
        <p class="heading-btm-w3ls">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="advntge-main">
        <div class="advntge-left-w3-agile">
            <div class="advntge-inner-w3ls">
                <h6>Various Locations</h6>
                <p class="para-w3-agileits">
                    Maecenas ut purus tempus urna posuere facilisis eu nec metus. In in lacinia libero. Class aptent taciti sociosqu ad
                    litora torquent per conubia nostra, per inceptos himenaeos.
                </p>
            </div>
            <div class="advntge-inner-w3ls">
                <p class="para-w3-agileits text-right">
                    Maecenas ut purus tempus urna posuere facilisis eu nec metus. In in lacinia libero. Class aptent taciti sociosqu ad
                    litora torquent per conubia nostra, per inceptos himenaeos.
                </p>
                <h6 class="text-right">View Apartments</h6>
            </div>
        </div>
        <div class="advntge-right-agileinfo">
            <div class="advntge-inner-w3ls">
                <h6>Privacy and Security</h6>
                <p class="para-w3-agileits">
                    Maecenas ut purus tempus urna posuere facilisis eu nec metus. In in lacinia libero. Class aptent taciti sociosqu ad
                    litora torquent per conubia nostra, per inceptos himenaeos.
                </p>
            </div>
            <div class="advntge-inner-w3ls">
                <p class="para-w3-agileits text-right">
                    Maecenas ut purus tempus urna posuere facilisis eu nec metus. In in lacinia libero. Class aptent taciti sociosqu ad
                    litora torquent per conubia nostra, per inceptos himenaeos.
                </p>
                <h6 class="text-right">No Commission</h6>
            </div>
        </div>
    </div><hr />
</div>
<!--// advantages -->
