﻿
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Slider-->
<div class="inner-bnr">
    <div class="header">
        <div class="container">
            <div class="w3l_header_left">
                <ul>
                    <li><span class="fa fa-envelope" aria-hidden="true"></span> <a href="mailto:mail@mccvrealestate.com">mail@mccvrealestate.com</a></li>
                </ul>
            </div>
            <div class="w3l_header_right">
                <div class="w3ls-social-icons">
                    <a class="facebook" href="https://www.facebook.com/mccvrealestate" target="_blank"><span class="fa fa-facebook"></span></a>
                    <a class="twitter" href="https://www.instagram.com/mccvrealestate/" target="_blank"><span class="fa fa-instagram"></span></a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

    <!-- //header -->
    <div class="header-bottom">
        <div class="container">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <h1>
                            <a class="navbar-brand" href="index.html">
                                <img src="~/Content/images/MCCVLogoGold.png" width="70" height="70" />
                            </a>
                        </h1>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <nav class="cl-effect-1" id="cl-effect-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="@Url.Action("Index","Home")" data-hover="Home">Home</a></li>
                            <li><a href="@Url.Action("Sell","Home")" data-hover="">Sell</a></li>

                            <li><a href="@Url.Action("Live","Home")" data-hover="">Live in Portugal</a></li>
                            <li><a href="@Url.Action("About","Home")" data-hover="">About Us</a></li>

                            <li><a href="@Url.Action("Contact","Home")" data-hover="">Contact</a></li>
                            <li><a href="@Url.Action("Login","Auth")" data-hover=""><b>Login</b></a></li>
                        </ul>
                    </nav>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
    </div>
</div>
<!--//Slider-->
<!--//Header-->
<!--footer-->
<div class="contact-agile contact-page">
    <div class="container">
        <h3 class="tittle">Get in Touch</h3>
        <p class="heading-btm-w3ls">Contact us if you want to buy a property of your dreams.</p>
        @if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            <p><b>@ViewBag.Message</b></p>
        </div>
}
        @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">
            <p><b>@ViewBag.Error</b></p>
        </div>
}
        <div class="contact-eql">
            <div class="contact-left">
                <h4>About Us</h4>
                <p class="para-w3-agileits"><b>Mccv Real Estate</b> is a company that deals with the property selling and buying located in Portugal.</p>
                <h4>Find Us</h4>
                <div class="add-info">
                    <span class="fa fa-map-marker" aria-hidden="true"></span>
                    <p>1608 US-19, Ellaville, Portugal</p>
                </div>
                <div class="add-info">
                    <span class="fa fa-phone" aria-hidden="true"></span>
                    <p>+(012) 345 6789</p>
                </div>
                <div class="add-info">
                    <span class="fa fa-envelope" aria-hidden="true"></span>
                    <p><a href="mail@mccvrealestate.com">mail@mccvrealestate.com</a></p>
                </div>
                <div class="w3ls-social-icons">
                    <a class="facebook" href="#"><span class="fa fa-facebook"></span></a>
                    <a class="twitter" href="#"><span class="fa fa-instagram"></span></a>
                </div>
            </div>
            <div class="contact-middle">
                <h4>Write to Us</h4>
                <form action="@Url.Action("Contact","Home")" method="post">
                    <div class="form-fields-agileinfo">
                        <p>Name</p>
                        <input type="text" name="name" placeholder=" " required="" />
                    </div>
                    <div class="form-fields-agileinfo">
                        <p>Email</p>
                        <input type="email" name="email" placeholder=" " required="" />
                    </div>
                    <div class="form-fields-agileinfo">
                        <p>Phone</p>
                        <input type="text" name="phone" placeholder=" " required="" />
                    </div>
                    <div class="form-fields-agileinfo">
                        <p>Comments</p>
                        <textarea name="message" placeholder=" " required=""></textarea>
                    </div>
                    <input type="submit" value="Send Message">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="map-w3ls">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13152320.404165294!2d-103.55034684755314!3d36.40881487153194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f30059df4864d5%3A0x3ef8d5e2e1ec947!2sKing&#39;s+Custom+Builders!5e0!3m2!1sen!2sin!4v1510548882552"></iframe>
</div>

