﻿@model List<MccvRealEstate.Models.Property>
@{
    ViewBag.Title = "Home Page";
}
@using MccvRealEstate.HelpingClasses;
@using MccvRealEstate.Models
<style>

    .listing-box h4 {
        line-height: 30px;
        color: #e55122
    }

    .listing-box {
        background: #f2f4f4;
        padding: 5px;
        float: left;
        width: 100%;
        border: 3px solid black;
    }

    .poperty-details-iob {
        margin: 5px 0;
        padding: 8px 0;
        display: inline-block;
        border-top: #e5e5e5 1px solid;
        border-bottom: #e5e5e5 1px solid;
        width: 100%;
    }

        .poperty-details-iob li {
            margin: 0;
            padding: 8px 15px;
            display: inline-block;
            font-family: 'Roboto';
            color: #333;
            border-right: #e5e5e5 1px solid;
        }

            .poperty-details-iob li span {
                font-size: 22px;
                color: #000;
            }

    .listing-box p {
        font-size: 12px;
        color: #838383;
    }

    .list-of-ratings {
        margin: -40px 10px;
        padding: 0;
        display: block;
        width: 100%;
        float: left;
        position: relative;
    }

        .list-of-ratings li {
            margin: 0;
            padding: 10px 15px 0px 0px;
            display: block;
            width: 100%;
            font-size: 16px;
        }

    .mr-iob-blr {
        margin-top: 20px;
    }

    .listing-box ul li a {
        color: #e55122;
    }

    .cls-for-btn-listing {
        margin: 0;
        padding: 0;
        display: inline-block;
        text-align: center;
        width: 100%;
        margin-top: 130px;
    }

        .cls-for-btn-listing li {
            margin: 0;
            padding: 0;
            display: inline-block;
        }

            .cls-for-btn-listing li a {
                margin: 0;
                padding: 10px 15px;
                display: inline-block;
                background: #e55122 !important;
                border-radius: 20px;
                color: #fff !important;
            }

    .star-list-iob {
        margin: 16px 0;
        padding: 0;
        display: block;
        position: relative;
        float: right
    }

        .star-list-iob li {
            margin: 0;
            padding: 0 3px;
            display: block;
        }

    .rating-box-iob {
        background: #e55122;
        padding: 8px;
        border-radius: 5px;
        position: absolute;
        color: #fff;
        right: 20px;
        margin-top: 40px;
    }
</style>
<!--Slider-->
<div class="slider">
    <!-- header -->
    <div class="header">
        <div class="container">
            <div class="w3l_header_left">
                <ul>
                    <li><span class="fa fa-envelope" aria-hidden="true"></span> <a href="mailto:mail@mccvrealestate.com">mail@mccvrealestate.com</a></li>
                </ul>
            </div>
            <div class="w3l_header_right">
                <div class="w3ls-social-icons">
                    <a class="facebook" href="https://www.facebook.com/mccvrealestate" target="_blank"><span class="fa fa-facebook"></span></a>
                    <a class="twitter" href="https://www.instagram.com/mccvrealestate/" target="_blank"><span class="fa fa-instagram"></span></a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

    <!-- //header -->
    <div class="header-bottom">
        <div class="container">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <h1>
                            <a class="navbar-brand" href="index.html">
                                <img src="~/Content/images/MCCVLogoGold.png" width="70" height="70" />
                            </a>
                        </h1>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <nav class="cl-effect-1" id="cl-effect-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="@Url.Action("Index","Home")" data-hover="Home">Buy</a></li>
                            <li><a href="@Url.Action("Sell","Home")" data-hover="">Sell</a></li>

                            <li><a href="@Url.Action("Live","Home")" data-hover="">Live in Portugal</a></li>
                            <li><a href="@Url.Action("About","Home")" data-hover="">About Us</a></li>

                            <li><a href="@Url.Action("Contact","Home")" data-hover="">Contact</a></li>
                            <li><a href="@Url.Action("Login","Auth")" data-hover=""><b>Login</b></a></li>

                        </ul>
                    </nav>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="callbacks_container">
            <ul class="rslides" id="slider3">
                <li>

                    <div class="slider-info">
                        <h3>Welcome to Mccv Real Estate</h3>
                        <p>Priceless housing for the lowest price</p>
                    </div>
                </li>
                <li>
                    <div class="slider-info">
                        <h3>Welcome to Mccv Real Estate</h3>
                        <p>Attractive home purchase offers</p>
                    </div>
                </li>
                <li>
                    <div class="slider-info">
                        <h3>Welcome to Mccv Real Estate</h3>
                        <p>Your success in property operations</p>
                    </div>
                </li>

            </ul>

        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- about -->
<div class="about">
    <div class="container">
        <div class="row" style="background-color:black; padding:10px;">
            <div class="col-md-6" style="padding:20px;">
                <h4 class="text-warning">Filter by: <a href="">Price</a> or <a href="">Location</a></h4>
            </div>
            <div class="col-md-6" style="margin-top:10px;">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="Search Property" />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-lg" type="button">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <section class="listing-page-builing" id="example">
            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="listing-box">
                        <div class="col-md-3 mr-iob-blr">
                            @{
                                Property_Images obj = new Property_Images();
                                PropertyImage img= obj.Path(item.Id);
                            }
                            @if (img != null)
                            {
                            <div style="background: url('@Url.Content(img.Image)') 0 0 no-repeat; height:30vh; background-size:cover;
				  background-position:center; border:#ccc 1px solid"></div>
                            }
                            else
                            {
                            <div style="background: url('@*@Url.Content()*@') 0 0 no-repeat; height:30vh; background-size:cover;
				  background-position:center; border:#ccc 1px solid"></div>
                            }

                            <ul class="list-of-ratings">
                                <li><img src="~/Content/images/MCCVLogoGold_BLACK.png" width="20%"></li>
                                <li><strong><a href="">@item.Unit</a><br /> </strong>Mccv Real Estate</li>
                            </ul>

                            @*<span class="rating-box-iob">4.3</span>*@
                        </div>
                        <div class="col-md-6">
                            <h4>
                                <strong><a href="#">@item.Title</a></strong> in @item.Country, @item.City<br />
                                <span>@item.Address</span>
                            </h4>
                            <ul class="poperty-details-iob">
                                <li>
                                    <span>Price</span><br />
                                    <h2>€@item.Price</h2>
                                </li>
                                <li>
                                    <span>Land Area</span><br />
                                    @item.LandArea @item.Unit
                                </li>
                                <li>
                                    <span>Property Type</span><br />
                                    @item.PropertyType
                                </li>

                            </ul>
                            <ul class="poperty-details-iob">
                                <li>Possession by @item.Date</li>
                                <li>@item.Purpose</li>
                                @*<li>1st of 19floor</li>*@
                            </ul>
                            <p style="height:70px !important;">
                                @item.Description
                            </p>
                        </div>
                        <div class="col-md-3">
                            <ul class="cls-for-btn-listing">
                                <li>
                                    <a href="@Url.Action("PropertyDetail","Property",new { Id=item.Id})">View Details</a>
                                    <a href="@Url.Action("PropertyContact","Property",new { Id=item.Id})">Contact</a>
                                </li>

                            </ul>


                        </div>
                    </div>
                </div>
                <br />
            }
        </section>

    </div>
</div>
<!-- //about-bottom -->
<script src="~/Content/js/jquery-2.2.3.min.js"></script>
<script src="~/Content/Pagination/jquery.paginate.js"></script>
<script>
    //call paginate
    $('#example').paginate();
</script>