﻿
@{
    ViewBag.Title = "Live";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Slider-->
<div class="inner-bnr">
    <div class="header">
        <div class="container">
            <div class="w3l_header_left">
                <ul>
                    <li><span class="fa fa-envelope" aria-hidden="true"></span> <a href="mailto:mail@mccvrealestate.com">mail@mccvrealestate.com</a></li>
                </ul>
            </div>
            <div class="w3l_header_right">
                <div class="w3ls-social-icons">
                    <a class="facebook" href="https://www.facebook.com/mccvrealestate" target="_blank"><span class="fa fa-facebook"></span></a>
                    <a class="twitter" href="https://www.instagram.com/mccvrealestate/" target="_blank"><span class="fa fa-instagram"></span></a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

    <!-- //header -->
    <div class="header-bottom">
        <div class="container">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <h1>
                            <a class="navbar-brand" href="index.html">
                                <img src="~/Content/images/MCCVLogoGold.png" width="70" height="70" />
                            </a>
                        </h1>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <nav class="cl-effect-1" id="cl-effect-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="@Url.Action("Index","Home")" data-hover="Home">Buy</a></li>
                            <li><a href="@Url.Action("Sell","Home")" data-hover="">Sell</a></li>

                            <li><a href="@Url.Action("Live","Home")" data-hover="">Live in Portugal</a></li>
                            <li><a href="@Url.Action("About","Home")" data-hover="">About Us</a></li>

                            <li><a href="@Url.Action("Contact","Home")" data-hover="">Contact</a></li>
                            <li><a href="@Url.Action("Login","Auth")" data-hover=""><b>Login</b></a></li>
                        </ul>
                    </nav>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
    </div>
</div>
<!--//Slider-->
<div class="about">
    <div class="container">
        <h1 class="page-header">Live In Portugal </h1>
        <h3>
            Why invest in real estate in Portugal ?
        </h3>
        <p>
            Portugal is the leader in the Quality of Life Index and the 5th best country in the world to live in, according to the study of the Expat Insider, held in 2017, one of the largest studies in the world that examines the way of life of expatriates.
            Portugal is a country with very favorable climatic and environmental conditions. With more than 3000 hours of sunshine per year, is one of the sunniest countries in Europe, enjoying a coastline over the Atlantic Ocean, with magnificent beaches. A cosmopolitan, modern and very safe country, enjoys a rich cultural diversity, a health system of high quality and very good conditions for a practice of various sports like surfing, golf, running, sailing, diving, cycling, hiking, trails and fishing. Portugal has an excellent culinary culture, top universities and a country with good economic and political stability, with a lower cost of living compared to other European countries.
            Lastly, the average prices of m2 of real estate in Portugal remain well below the average price of European cities, so the potential for valuation of the properties in Portugal is quite high.
        </p>
        <br />
        <h3>
            Non-habitual residents Tax in Portugal (NHR)
        </h3>
        <p>
            For those who are foreigners and wish to live in Portugal, or for the Portuguese who have left for another country and now seek to return to Portuguese territory, the tax authorities have a special regime of income taxation. In 2009, the Portuguese Government granted a tax exemption for a period of 10 years to any pensioner who intends to establish habitual residence in Portugal and who has not resided in Portugal for the last five years. For example, recipients of a pension paid in a country with which Portugal has a double taxation greement (covering the entire European Union and Switzerland, for example) are not required to pay taxes in their country of origin for becoming a resident and not to pay taxes in Portugal under the special legal exemption now established. How to benefit from the tax regime for NHR? To qualify for this condition, you must live in Portugal for more than 183 days a year or have a property on December 31 of the year in question, which means that your stay in Portugal will extend. The application for this special tax status must be made at the time of transfer of residence to Portugal, or until 31 March of the following year. In practice, this means that a pensioner who transfers their tax residence to Portugal will be totally tax-free! The financing of your purchase can be made with the monthly salary that saves on this tax benefit. It is not only the pensioners who can benefit from this very advantageous tax system, but also the professionals in activities of high added value with scientific, artistic or technical character. Among taxpayers who may benefit from reduced taxation are architects, physicians, tax consultants, psychologists, senior staff, professors and designers, among others, mentioned in the list established by the tax authorities, may obtain the status of NHR (non-habitual residents) in Portugal and benefit from a reduced tax rate of 20%.


        </p>
        <br />
        <h3>
            Golden Visa
        </h3>
        <p>
            The Visa / Gold Residence ARI Program allows foreigners living outside Europe to obtain a residence permit in Portugal for a minimum of 5 years. There are three types of possible investments for the gold visa:
            <ul style="margin-left:30px;">
                <li>
                    Acquisition of immovable property worth 500 thousand euros or more
                </li>
                <li>
                    Transfer of capital in the amount of 1 million EUR or more
                </li>
                <li>
                    Creation of at least 10 jobs
                </li>
            </ul>
        </p>
        <p><b>Advantages of the Gold Visa</b></p>
        <p>
            <ul style="margin-left:30px;">
                <li>
                    Let's live and work in Portugal or in another European country; Enables free movement within the Schengen area
                </li>
                <li>
                    The residence permit may be extended to the remaining family members
                </li>
                <li>
                    Allows the request for permanent residence in Portugal, after the fifth year of maintenance of the Visa
                </li>
                <li>
                    In the sixth year of residence in Portugal, it is possible to start a procedure to obtain Portuguese nationality and, thus, to acquire the passport of Portugal.

                </li>
            </ul>
        </p>
    </div>
</div>

